In [17]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import seaborn as sns
import datetime

df = pd.read_csv('vehicles.csv')
df

,Unnamed: 0,id,url,region,region_url,price,year,manufacturer,model,condition,...,drive,size,type,paint_color,image_url,description,state,lat,long,posting_date
0,0,7240372487,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,35990,2010.0,chevrolet,corvette grand sport,good,...,rwd,NaN,other,NaN,https://images.craigslist.org/00N0N_ipkbHVZYf4...,Carvana is the safer way to buy a car During t...,al,32.590000,-85.480000,2020-12-02T08:11:30-0600
1,1,7240309422,https://auburn.craigslist.org/cto/d/auburn-201...,auburn,https://auburn.craigslist.org,7500,2014.0,hyundai,sonata,excellent,...,fwd,NaN,sedan,NaN,https://images.craigslist.org/00s0s_gBHYmJ5o7y...,I'll move to another city and try to sell my c...,al,32.547500,-85.468200,2020-12-02T02:11:50-0600
2,2,7240224296,https://auburn.craigslist.org/cto/d/auburn-200...,auburn,https://auburn.craigslist.org,4900,2006.0,bmw,x3 3.0i,good,...,NaN,NaN,SUV,blue,https://images.craigslist.org/00B0B_5zgEGWPOrt...,Clean 2006 BMW X3 3.0I. Beautiful and rare Bl...,al,32.616807,-85.464149,2020-12-01T19:50:41-0600
3,3,7240103965,https://auburn.craigslist.org/cto/d/lanett-tru...,auburn,https://auburn.craigslist.org,2000,1974.0,chevrolet,c-10,good,...,rwd,full-size,pickup,blue,https://images.craigslist.org/00M0M_6o7KcDpArw...,1974 chev. truck (LONG BED) NEW starter front ...,al,32.861600,-85.216100,2020-12-01T15:54:45-0600
4,4,7239983776,https://auburn.craigslist.org/cto/d/auburn-200...,auburn,https://auburn.craigslist.org,19500,2005.0,ford,f350 lariat,excellent,...,4wd,full-size,pickup,blue,https://images.craigslist.org/00p0p_b95l1EgUfl...,2005 Ford F350 Lariat (Bullet Proofed). This t...,al,32.547500,-85.468200,2020-12-01T12:53:56-0600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458208,458208,7240959076,https://wausau.craigslist.org/ctd/d/wisconsin-...,wausau,https://wausau.craigslist.org,14995,2014.0,cadillac,srx,excellent,...,4wd,mid-size,SUV,silver,https://images.craigslist.org/00808_1bVcaYZtCy...,2014 Cadillac SRX All Wheel Drive Luxury Colle...,wi,44.408867,-89.881210,2020-12-03T08:56:29-0600
458209,458209,7240954682,https://wausau.craigslist.org/ctd/d/wisconsin-...,wausau,https://wausau.craigslist.org,17895,2018.0,hyundai,tucson,excellent,...,4wd,mid-size,SUV,white,https://images.craigslist.org/00l0l_gikkP11dEF...,2018 Hyundai Tucson SE 2.0 I4 AWD. Carfax ver...,wi,44.408867,-89.882240,2020-12-03T08:48:08-0600
458210,458210,7240645700,https://wyoming.craigslist.org/cto/d/sheridan-...,wyoming,https://wyoming.craigslist.org,17900,2014.0,cadillac,cts coupe awd,excellent,...,4wd,mid-size,coupe,black,https://images.craigslist.org/00t0t_lNnW4cboOG...,"53,000 miles. Cosmetically, in near mint condi...",wy,44.784900,-106.964800,2020-12-02T14:09:45-0700
458211,458211,7240600465,https://wyoming.craigslist.org/cto/d/sheridan-...,wyoming,https://wyoming.craigslist.org,1300,2008.0,jeep,grand cherokee,good,...,4wd,mid-size,SUV,white,https://images.craigslist.org/00C0C_fl0NW1IeJw...,PRICE REDUCTION Turns out the engine is toast...,wy,44.773500,-106.939600,2020-12-02T13:01:04-0700
458212,458212,7240562359,https://wyoming.craigslist.org/ctd/d/gilberts-...,wyoming,https://wyoming.craigslist.org,22900,2008.0,NaN,International 4300,NaN,...,NaN,NaN,NaN,NaN,https://images.craigslist.org/00k0k_77qSSp6sQC...,*** SHIPPING AVAILABLE DIRECTLY TO YOU. CALL F...,wy,42.117656,-88.436954,2020-12-02T12:03:45-0700

In [18]:
df=df.drop(columns=['id','url','region_url','drive','image_url','description','lat','long','posting_date','VIN','cylinders','Unnamed: 0'])
df.dropna()

,region,price,year,manufacturer,model,condition,fuel,odometer,title_status,transmission,size,type,paint_color,state
3,auburn,2000,1974.0,chevrolet,c-10,good,gas,190000.0,clean,automatic,full-size,pickup,blue,al
4,auburn,19500,2005.0,ford,f350 lariat,excellent,diesel,116000.0,lien,automatic,full-size,pickup,blue,al
14,auburn,4900,2003.0,ford,expedition,good,gas,177000.0,clean,automatic,full-size,SUV,blue,al
19,auburn,47000,2020.0,jeep,gladiator,like new,gas,10500.0,clean,automatic,full-size,pickup,grey,al
47,auburn,6250,2010.0,ford,fusion sel,good,gas,82000.0,clean,automatic,full-size,sedan,silver,al
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458204,wausau,4495,2006.0,buick,lacrosse cx,good,gas,121488.0,clean,automatic,mid-size,sedan,black,wi
458208,wausau,14995,2014.0,cadillac,srx,excellent,gas,83790.0,clean,automatic,mid-size,SUV,silver,wi
458209,wausau,17895,2018.0,hyundai,tucson,excellent,gas,31888.0,clean,automatic,mid-size,SUV,white,wi
458210,wyoming,17900,2014.0,cadillac,cts coupe awd,excellent,gas,53000.0,clean,automatic,mid-size,coupe,black,wy
458211,wyoming,1300,2008.0,jeep,grand cherokee,good,gas,164000.0,clean,automatic,mid-size,SUV,white,wy

In [19]:
df

,region,price,year,manufacturer,model,condition,fuel,odometer,title_status,transmission,size,type,paint_color,state
0,auburn,35990,2010.0,chevrolet,corvette grand sport,good,gas,32742.0,clean,other,NaN,other,NaN,al
1,auburn,7500,2014.0,hyundai,sonata,excellent,gas,93600.0,clean,automatic,NaN,sedan,NaN,al
2,auburn,4900,2006.0,bmw,x3 3.0i,good,gas,87046.0,clean,automatic,NaN,SUV,blue,al
3,auburn,2000,1974.0,chevrolet,c-10,good,gas,190000.0,clean,automatic,full-size,pickup,blue,al
4,auburn,19500,2005.0,ford,f350 lariat,excellent,diesel,116000.0,lien,automatic,full-size,pickup,blue,al
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458208,wausau,14995,2014.0,cadillac,srx,excellent,gas,83790.0,clean,automatic,mid-size,SUV,silver,wi
458209,wausau,17895,2018.0,hyundai,tucson,excellent,gas,31888.0,clean,automatic,mid-size,SUV,white,wi
458210,wyoming,17900,2014.0,cadillac,cts coupe awd,excellent,gas,53000.0,clean,automatic,mid-size,coupe,black,wy
458211,wyoming,1300,2008.0,jeep,grand cherokee,good,gas,164000.0,clean,automatic,mid-size,SUV,white,wy
458212,wyoming,22900,2008.0,NaN,International 4300,NaN,diesel,164000.0,clean,automatic,NaN,NaN,NaN,wy